<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openclassrooms.realestatemanager">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.MapActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.NavigationActivity" />
        </activity>
        <activity android:name=".ui.activities.FilterActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.NavigationActivity" />
        </activity>
        <activity android:name=".ui.activities.LoanSimulationActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.NavigationActivity" />
        </activity>
        <activity android:name=".ui.activities.UpdateAndAddActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.NavigationActivity" />
        </activity>
        <activity android:name=".ui.activities.NavigationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.NavigationActivity" />
        </activity>
        <activity android:name=".ui.activities.RegisterActivity" />

        <activity android:name=".ui.activities.MainActivity" />

        <activity android:name=".ui.activities.LogInActivity" />

        <provider
            android:name=".db.AppProvider"
            android:authorities="${applicationId}.listings.provider"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>